<!DOCTYPE html>
<html>

<head>
  <title>Vue Demo #2: The Blog Post App</title>
  <meta charset='utf-8' />
  <style type="text/css">
    h1 {
      font-size: 2em;
      font-family: sans-serif;
      font-weight: bold;
    }

    h3 {
      font-size: 1em;
      font-weight: bold;
    }

    p {
      font-size: 1em;
      font-family: serif;
    }

    label {
      width: 90px;
      display: inline-block;
      vertical-align: top;
    }
  </style>
  <script>
    var model = {
      post: {
        id: 94,
        title: "qui qui voluptates illo iste minima",
        body: "aspernatur expedita soluta quo ab ut similique expedita dolores amet sed temporibus distinctio magnam saepe deleniti omnis facilis nam ipsum natus sint similique omnis"
      },
      user: {
        id: 10,
        displayname: "Clementina DuBuque"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.0.1/dist/vuex.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <display-post></display-post>
    <hr>
    <edit-post v-show="display === 'edit'"></edit-post>
    <hr>
    <p>from body - {{ display }}</p>
  </div>
  <script>
    var mapState = Vuex.mapState
    const store = new Vuex.Store({
      state: model,
      actions: {
        persistPost({ state }) {
          console.log(state.post)
          axios.put('https://jsonplaceholder.typicode.com/posts/' + state.post.id, state.post).then(function (rsp) {
            /* Happy Dance */
          }), function (err) {
            /* Error Handling */
          }
        }
      }
    })
    Vue.component('edit-post', {
      template: `<form @submit.prevent="savePost">
      <label>Title:</label>
      <input type="text" v-model="post.title" /><br>
      <label>Description:</label>
      <textarea rows="10" cols="50" v-model="post.body"></textarea><br>
      <input type="submit">
      </form>
    `,
      computed: mapState(['post']),
      methods: {
        savePost() {
          this.$store.dispatch('persistPost')
          this.$root.hideEdit()
        }
      }
    })
    Vue.component('display-post', {
      template: `<div><h1>{{ post.title }}</h1>
      <h4>By: {{ user.displayname }}</h4>
      <p>{{ post.body }}</p>
      <p>from component - {{ display }}</p>
      <button v-on:click="$root.showEdit()">edit</button></div>`,
      computed: mapState(['post', 'user'])
    })
    const app = new Vue({
      el: "#app",
      store,
      data: {
        display: "noEdit"
      },
      methods: {
        showEdit() {
          this.display = "edit"
        },
        hideEdit() {
          this.display = "noEdit"
        }
      }
    })</script>
</body>

</html>